{% extends "base.html" %}
{% block title %}Contact{%endblock%}
{% block content %}
<div class="container">
    <section id="contact">
        <h2>Contact</h2>
        <p>Email: yourname@example.com</p>
        <p>LinkedIn: linkedin.com/in/yourprofile</p>
        <p>GitHub: github.com/yourusername</p>
    </section>
    <form action="/submit" method="POST">
        <label>Name:</label><br>
        <input type="text" name="name" required><br><br>

        <label>Email:</label><br>
        <input type="email" name="email" required><br><br>

        <label>Message:</label><br>
        <textarea name="message" required></textarea><br><br>

        <button type="submit">Send</button>
    </form>

</div>
{%endblock%}